Options -Indexes

<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
    RewriteBase /FamilyJam/

    RewriteRule ^preview/?$ index.php/preview [L,NC,QSA]
    RewriteRule ^app/preview/?$ index.php/preview [L,NC,QSA]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^(?:app|system|writable|tests|database|vendor)(?:/|$) - [F,L,NC]
    RewriteRule ^(?:env|\.env|composer\.(?:json|lock)|phpunit\.xml(?:\.dist)?|preload\.php|spark)$ - [F,L,NC]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    RewriteRule ^assets/(.*)$ public/assets/$1 [L,NC]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([\s\S]*)$ index.php/$1 [L,NC,QSA]

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 index.php
</IfModule>

ServerSignature Off
